{% extends "base_site.html" %}

{% block title %} GIS Data Layer {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}"
          rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Training Data Inspection</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- For Traing Data Visualization -->
                    <div class="x_panel" id = 'vis'>
                        <div class = "vis_option" id = "vis_opts">
                            <select>
                                    <option value="age">age</option>
                                    <option value="sex">sex</option>
                                    <option value="CPT">chest pain type</option>
                                    <option value="RBP">resting blood pressure</option>
                                    <option value="SC">serum cholestoral in mg/dl</option>
                                    <option value="FBS">fasting blood sugar > 120 mg/dl</option>
                                    <option value="RER">resting electrocardiographic results</option>
                                    <option value="MHRA">maximum heart rate achieved</option>
                                    <option value="EIA">exercise induced angina</option>
                                    <option value="oldpeak">oldpeak</option>
                                    <option value="SOTPESTS">the slope of the peak exercise ST segment</option>
                                    <option value="NOMV">number of major vessels (0-3) colored by flourosopy</option>
                                    <option value="thal">thal</option>
                                    <option value="target">target</option>
                            </select>
                            <button type="button" onclick="Onclick_visualize()">Visualization</button>
                        </div>
                        <div class = "vis_display" id = "vis_dis">

                        </div>> 
                        <!--TODO-->
                    </div>
                    <!--/ For Traing Data Visualization -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <!-- bootstrap datetime picker -->
    <script src="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- bootbox -->
    <script src="{{ url_for('static', filename='vendors/bootbox.js/bootbox.min.js') }}"></script>
    <!-- loading overlay -->
    <script src="{{ url_for('static', filename='vendors/loadingoverlay/loadingoverlay.min.js') }}"></script>
    <!-- echarts4 -->
    <script src="{{ url_for('static', filename='vendors/echarts4/echarts.min.js') }}"></script>

    <script>


        $(function () {
//            TODO: visualize function

        });


    </script>

<script>
        function Onclick_visualize() {
          document.getElementById("demo").innerHTML = "Hello World";
        }
        </script>
{% endblock javascripts %}

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('vis_dis'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

