{% extends "base_site.html" %}

{% block title %} GIS Data Layer {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}"
          rel="stylesheet">
    

{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Training Data Inspection</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- For Traing Data Visualization -->
                    <div class="x_panel" id = 'vis' style = "width: 100%;height:100%;">
                        <div class = "vis_option" id = "vis_opts">
                            <select class = "attr">
                                <!--
                                    <option value="age">age</option>
                                    <option value="sex">sex</option>
                                -->
                                    <option value="CPT">chest pain type</option>
                                    <option value="RBP">resting blood pressure</option>
                                    <option value="SC">serum cholestoral in mg/dl</option>
                                    <option value="FBS">fasting blood sugar > 120 mg/dl</option>
                                    <option value="RER">resting electrocardiographic results</option>
                                    <option value="MHRA">maximum heart rate achieved</option>
                                    <option value="EIA">exercise induced angina</option>
                                    <option value="oldpeak">oldpeak</option>
                                    <option value="SOTPESTS">the slope of the peak exercise ST segment</option>
                                    <option value="NOMV">number of major vessels (0-3) colored by flourosopy</option>
                            </select>
                        </div>
                        <div class="panel-body" style="height: 800px;">
                                <div class = "col-md-12 col-sm-12 col-xs-12" id = "vis_dis" style = "width: 100%;height:100%;"></div>
                        </div>
                        
                        <!--TODO-->
                    </div>
                    <!--/ For Traing Data Visualization -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <!-- bootstrap datetime picker -->
    <script src="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- bootbox -->
    <script src="{{ url_for('static', filename='vendors/bootbox.js/bootbox.min.js') }}"></script>
    <!-- loading overlay -->
    <script src="{{ url_for('static', filename='vendors/loadingoverlay/loadingoverlay.min.js') }}"></script>
    <!-- echarts4 -->
    <script src="{{ url_for('static', filename='vendors/echarts4/echarts.min1.js') }}"></script>
    
    <script src="{{ url_for('static', filename='vendors/attribute.js') }}"></script>
    
    
    <script>
$(function () {
    var attr = $(".attr option:selected").val()
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure4(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });

})

$('.attr').on('change', function () {
    var attr = $(".attr option:selected").val()
    
    if(attr == "CPT"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure4(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
            
            
    }else if(attr == "RBP"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure3(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
            
    }else if(attr == "SC"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure5(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "FBS"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure6(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "RER"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure7(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "MHRA"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        show_figure8(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "EIA"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute9(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "oldpeak"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute101(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "SOTPESTS"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute11(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "NOMV"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute12(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "thal"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute13(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }else if(attr == "target"){
        $.ajax({
        type: 'GET',
        url: '/traing_data_visialize/' + attr
    }).done(function (data) {
        attribute14(data["data"]);
    }).fail(function (data) {
        alert("Failed, Done!@")
    });
    }
    else{
        alert("Error")
    }
  })

  function attribute101(data){
    var myChart = echarts.init(document.getElementById('vis_dis'));
        var schema = [
            {name: 'AGE', index: 0, text: 'Age'},
            {name: 'Blood Pressure', index: 1, text: 'Blood Pressure'},
            {name: 'Amount', index: 2, text: 'Amount'}
        ];
        var option = {
            backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
            offset: 0,
            color: '#f7f8fa'}, 
            {
                offset: 1,
                color: '#cdd0d5'
            }]),
            legend: {
                right: 10,
                data: ['Male', 'Female']
                
            },
            tooltip: {
                padding: 10,
                backgroundColor: '#222',
                borderColor: '#777',
                borderWidth: 1,
                formatter: function (obj) {
                    var value = obj.value;
                    return  schema[0].text + ': ' + value[0] + '<br>'
                        + schema[1].text + '：' + value[1] + '<br>'
                        + schema[2].text + '：' + value[2] + '<br>';
                }
            },
            xAxis: {
                min:25,
                name: 'Ages',
                nameLocation: 'end',
                nameTextStyle:{fontWeight:1000},
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                }
            },
            yAxis: {
                name: 'oldpeak',
                nameLocation: 'end',
                nameTextStyle:{fontWeight:1000},
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
                scale: true
            },
            series: [{
                name: 'Male',
                data: data[0],
                type: 'scatter',
                symbolSize: function (data) {
                    return Math.sqrt(data[2]) / 0.15;
                },
                itemStyle: {
                    normal: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(120, 36, 50, 0.5)',
                        shadowOffsetY: 5,
                        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                            offset: 0,
                            color: 'rgb(251, 118, 123)'
                        }, {
                            offset: 1,
                            color: 'rgb(204, 46, 72)'
                        }])
                    }
                }
            }, {
                name: 'Female',
                data: data[1],
                type: 'scatter',
                symbolSize: function (data) {
                    return Math.sqrt(data[2]) / 0.15;
                },
                itemStyle: {
                    normal: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(25, 100, 150, 0.5)',
                        shadowOffsetY: 5,
                        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                            offset: 0,
                            color: 'rgb(129, 227, 238)'
                        }, {
                            offset: 1,
                            color: 'rgb(25, 183, 207)'
                        }])
                    }
                }
            }]
        };
        myChart.setOption(option, true);
    }
    </script>


{% endblock javascripts %}


